body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #041E42;
    padding: 20px;
}

.data {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 5px;
	color: white;
}

.info {
	color: white
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
	position: absolute;
	top: 20px;
	right: 20px;
}

.contact-info p {
	color: white;
	margin: 5px 0;
}

h1 {
    margin: 0;
}

header h1 {
	color:white;
	font-size: 36px;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin: 5px;
	text-align: center;
	text-decoration: underline;
	color: #041E42;
}

header h2 {
	font-size: 17px;
	color:white;
	text-align: left;
	font-style:italic;
	text-decoration: none;
}

.entry {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.entryedu {
    display: flex;
    align-items: flex-start; /* Align items to the top of the container */
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}

.entryexp h3, .entryexp p {
	display: inline;
    vertical-align: top;
    line-height: 28px;
}

.graduation-date {
    align-self: flex-end; /* Align the graduation date to the bottom */
    margin-top: auto; /* Move the graduation date to the bottom */
}


.education-details {
    flex-grow: 1; /* Allow it to grow and take remaining space */
}

.entryedu h3 {
	font-size: 20px;
}

.entryedu p {
	margin: 0;
	font-style: italic;
}

.entry h3 {
	margin-bottom: 10px;
	font-weight: bolder;
	font-size: 20px;
}

ul {
    margin-top: 5px;
    margin: 0;
}

li {
	list-style-type: square;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}
